/* style.css */
/* I have imported all the css from lab 07, some of the selectros like tables
arenot applicable for now. */
/* background color for Maryland, Ravens and Orioles are different using 
body class homepage, ravens-page and orioles-page */

body {
  font-family: sans-serif;
  background-color: #6b98b3; /* the color is dragged randomly in a new pop up */
}

/* CSS code to keep the title of drop down text tab in the center of page */
/*I have used the details tab in the middle of the page that drops down to make page interactive */

details summary {
  text-align: center;

  color: yellow;
}


/* here I plan to assign seperate background color for eah page */ 

/* Background color based on page */
body.home-page {
  background-color:goldenrod;
}

body.ravens-page {
  background-color: #4b0082; /* Deep purple for Ravens */
  color: white;
}

body.orioles-page {
  background-color: #ff6f00; /* Orioles orange */
  color: black;
}

/* Now I have tried to make Navigation Bar Styling */
/* the code are drag drop and some help from internet and AI*/

/* Base styling */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style nav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; /* I am learning the types of px, width lenght mfrom MDN website also */
  text-decoration: none;
}

/* This is very complex some help from AIChange color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* I learn to make the current page highlighted green using this CSS selector */ 

/* This is called an Active tab */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Responsive toggle (hidden by default) */
.topnav .icon {
  display: none;
}

/* Mobile view */ /* This is AI help */ 
/* I learn this is for responsive in small screen */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.top-nav {
  background-color: #333;
  padding: 10px 0;
}

.top-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.top-nav li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

.top-nav li a:hover {
  background-color: #fff;
  color: #333;
}

/* Responsive class for small screens */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) { display: none; }
  .topnav a.icon {
    float: right;
    display: block;
  }

